<!DOCTYPE html>
<html>
    <head>
        <title>User Page</title>
        <style>
html { width: 100%; height:100%; overflow:hidden; }

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
}
section{
	width: 100%;
	height: 10vh;
	background-size: cover;
}
.menu{
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,.5);
	padding: 0 100px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,.2)
}
.menu img{
	float: left;
	width: 84px;
    border-radius:20px
}
nav{
	position: relative;
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	display: block;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 20px;
}
nav ul li a:hover{
	background: #184771;
	color: #fff;
}
nav ul li ul{
	display: block;
	background: rgba(255,255,255,.5);
	min-width:250px;
	position: absolute;
	margin-top: 1px;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform: translateY(40px);
}
nav ul li:hover ul{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}
nav ul li ul a{
	padding: 10px;
}


.main-div {
	color: white;
	margin: 5% 27%;
}

.sub-div {
	margin: 30px;
}

.info {
	font-size: 20px;
}

h2 {
	margin-top: 30px;
}

.image {
    float: left;
    margin: 5% 7%;
}

.doc-link:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.doc-link:visited {
  color: lightgray;
}

/* mouse over link */
.doc-link:hover {
  color: lightgray;
}

/* selected link */
.doc-link:active {
  color: white;
}

        </style>
    </head>
    <body>
        <div class="menu">
		<nav>
			<ul>
				<li><a href="./doc_editor">Create New Document</a></li>
				<li><a href="#">Complaints</a>

					<ul>

						<li><a href="./complaintou">Complaint About Ordinary User</a></li>
						<li><a href="./complaintdoc">Complaint About Documents</a></li>

					</ul>
				</li>

					<li><a href="/alldocuments">All Documents</a></li>
					<li><a href="/logout">Logout</a></li>

				</li>
			</ul>
		</nav>
	</div>
    <section></section>
        <div class="image">
			<img height="200" width="200" src="/images/{{user.image_name}}">
		</div>

        <div class="main-div">
            <h2>General Information</h2>
            <div class="sub-div">
                <p class="info">Name: {{user.first_name}} {{user.last_name}}</p>
                <p class="info">Username: {{user.username}}</p>
                <p class="info">The reason to become OU: {{user.whyOU}}</p>
            </div>
            <h2>Contact Information</h2>
            <div class="sub-div">
                <p class="info">Email: {{user.email}}</p>
            </div>
            <h2>Documents</h2>
            <div class="sub-div">
            {{#each files}}
		        <a class="doc-link" href={{this.url}}>
			        <p class="info">{{this.file_name}}</p>
				</a>
		    {{/each}}
            </div>
	    </div>
    </body>
</html>